mat-card {
  margin: 20px;
}

mat-list {
  margin-top: 20px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}

mat-icon {
  font-size: 24px;
}

button.mat-icon-button {
  margin-left: 8px;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  .search-field {
    flex-grow: 1; /* Ensures the search field takes up remaining space */
  }

  .reverse-sort-button {
    margin-left: 8px;
    vertical-align: middle;
  }
}

.addNewItem {
  width: auto; /* Regular length */
}
