mat-card {
  margin: 20px;
}

mat-list {
  margin-top: 20px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin-left: 10px;
}

mat-icon {
  font-size: 20px;
}
